# Config for NordVPN server {server_name}
[Interface]
PrivateKey = {private_key}
Address = 10.5.0.2/32
DNS = {dns_servers}

[Peer]
PublicKey = {public_key}
AllowedIPs = 0.0.0.0/0
Endpoint = {server_hostname}:51820
PersistentKeepalive = 25
